* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', system-ui, sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
  text-align: center;
}

#hero {
  max-width: 540px;
  margin: 64px auto;

  img {
    margin-bottom: 32px;
  }
}

h1 {
  font-family: 'Dosis', system-ui, sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 16px;
  color: #3f3d56;

  strong {
    color: #ee24ff;
  }
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;

  span {
    font-weight: 700;
  }

  strong {
    color: #3f3d56;
  }
}

footer {
  max-width: 391px;
  margin: auto;
  border-top: 1px solid #eceff2;
  font-size: 15px;
  padding-top: 16px;

  a {
    line-height: 147.682%;
    color: #3f3d56;
    font-weight: 700;
    text-decoration: none;
  }

  a + a {
    margin-left: 42px;
  }
}

#wave {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 1024px;
  margin: auto;
}
